<?php

/**
 * Copy to your config/autoload
 */
 
$classDefaults = [
/**
 * \ZfcUser\Entity\User::class => [
 *    'timezone' => 'America/New_York',
 *    'date_format' => 'Y-m-d',
 * ],
 */
];

return [
    'zfcuser_simple_settings' => [
        'defaults' => $classDefaults,
    ],
];
